<!-- <input type="text" [(ngModel)]="remotePeerId" />
<button (click)="initiateCall()">Submit</button>

<div id="video-container"></div> -->

<div class="flex w-full justify-center gap-4 mt-4">
  <div class="flex flex-col items-center">
    <div>
      <label
        for="userName"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >User Name</label
      >
      <input
        type="text"
        id="userName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="enter your name"
        required
        [(ngModel)]="userName"
      />
    </div>

    <div>
      <label
        for="meetCode"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Meet code</label
      >
      <input
        type="text"
        id="meetCode"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="enter your meetcode"
        required
        [(ngModel)]="meetCode"
      />
    </div>

    <div>
      <button
        type="button"
        (click)="onJoin()"
        class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Join
      </button>
    </div>
  </div>
</div>
